<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="art.css">
</head>
<body>
    
    <div class="artsoul">
        <nav>
            
           
            <img src="logo.jpeg.jpeg" class="logo">
           
            
            <input id="username" type="username" placeholder="username"></input>
            <input id="password" type="password" placeholder="password"></input>
         
            <button>LOGIN</button>
            <br><br> 
            &emsp; &emsp; &emsp; &emsp; &emsp;
           <a href="create.html"> <button >create new account</button></a>
            <ul>
                <a href="home.html"><li>HOME</li></a>
                <a href="PicsArt_02-13-07.35.20-01.jpeg"><li>ARTS</li></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"></a><li>NEW</li>
                <a href="settings.html"><li>SETTINGS</li></a>
                
            </ul>
            <br>
            <br>
            <br><br>
            <h4 >
                
                all the pictures in the page is completely free to use. create account in art of soul ,join our family
            </h4>
           
               
            
            
           


        </nav>
     
    </div>
    <div>
        <center>
        <table width="1044" height="900">
        <tr>
            <td><img src="IMG_20210131_185141-03-01-01.jpeg" alt="" width="400px"></td>
            <td colspan="2"><img src="IMG_20220228_192537.JPG" alt="" width="600px"></td>
            
        </tr>
        <tr>
            <td colspan="3"><img src="IMG_20220228_192552.JPG" alt="" width="1000"></td>
           
        </tr>
        <tr>
            <td><img src="PicsArt_02-13-07.35.20-01.jpeg " width="300px" alt=""></td>
            <td><img src="Screenshot_20210428_203901-01.jpeg" width="300px" alt=""></td>
            <td><img src="Screenshot_20210629_125006-01.jpeg" alt="" width="300px"></td>
        </tr>
    </table>
</center>
<br><br><br>
<center>
    <div class="button">
<button >next</button>
</div>
</center>
<br><br><br><br><br>

    </div>

   
    
</body>

</html>