{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>facebook.com</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="facebook.css">
</head>
<body > 
   
    <table  height="54" width="1325">
       <tr  >
           <h1 >
           <td  colspan="2" bgcolor=3B5998  ><img src="{% static 'images/download.png'%}" alt="" width="150" >
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
             
         <input size="24"  id="user name" type="username" placeholder="user name"  >&emsp;
           
            <input size="24" id="password" type="password" placeholder="password" >
            <label for="">
               <button >login</button>
               <br><h1></h1>
          
        </td>
          
            </label>
         
           </td>
        </h1>
       </tr>
       <tr >
         
           <td  height="80">
               <table width="370" height="50">
            <tr >
                 <td colspan="2"><div class="user"> <h2>Connect with friends and the world around you on facebook</h2></div></td>
               
            </tr>
            <tr>
                <td colspan="2" height="80"><ul>
                    <li> 
                       <div class="see"> see photos and updates from friends in news feed
                    </div>
                    </li>
                    <br>
                    <li>share whats new in your life on your timeline</li><br>
                    <li>find more of what you're looking for with graph search</li><br>
                </ul></td>
               
            </tr>
      
         </table>
        </center>
       </td>
       <td >
              
        <table width="450" height="50">
            <tr>
               
                <td style="" colspan="2"><center><h1>Sign Up</h1></center></td>
                
            </tr>
            <tr>
                <td colspan="2" height="160">
                   
                <input  size="20" id="First Name" type="First Name" placeholder="First Name">
                &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input size="25" id="Last Name" type="Last name" placeholder="Last Name"><br><br>
                <input size="40" id="MobileNumber" type="Mobile Number" placeholder="Mobile Number"><br><br>
                <input size="40" id="Email" type="Email" placeholder="Email"><br><br>
                <input size="40" id="Password" type="Password" placeholder="Password"><br><br
                <br>
                <p><font color="#666666" face="verdana,arial,helvetica,sans-serif" size="1"> By clicking signup, you agree to term and that you have read our data policy,including our coockie use</p>
                </font>
                    <br>
             <a href=""> <img  width="200" src="{% static 'images/fb-logo-signup.png'%}" alt=""></a>
 
                </td>
                
            </tr>
         </table>
        </center>
     
       </td>
       </tr>
    </table>
  
    
</body>
</html>